<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div id="wrapper">
        <img src="/images/site/small_check.jpg" alt="background image">
        <%- include('../partials/header')%>
        <%- include('../partials/navigation')%>
        <main>
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>