<h1 class="modify-inventory-title"><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<div class="modify-inventory-wrapper">
    <div class="add-box">
        <form action="/inv/update" method="post" id="updateForm">
            <p>Enter the new vehicle name information</p>
            <hr>
            <label for="classification_id">
                Classification:
                <%- options %>
            </label>
            <label for="inv_make">
                Make:
                <input type="text" name="inv_make" id="inv_make" value="<%= locals.inv_make %>" required>
            </label>
            <label for="inv_model">
                Model:
                <input type="text" name="inv_model" id="inv_model" value="<%= locals.inv_model %>" required>
            </label>
            <label for="inv_description">
                Description:
                <textarea name="inv_description" id="inv_description" cols="30" rows="10" required><%= locals.inv_description %></textarea>
            </label>
            <label for="inv_image">
                Image Path:
                <input type="text" name="inv_image" id="inv_image" value="<%= locals.inv_image %>" required>
            </label>
            <label for="inv_thumbnail">
                Thumbnail Path:
                <input type="text" name="inv_thumbnail" id="inv_thumbnail" value="<%= locals.inv_thumbnail %>" required>
            </label>
            <label for="inv_price">
                Price:
                <input type="number" name="inv_price" id="inv_price" min="0" value="<%= locals.inv_price %>" required>
            </label>
            <label for="inv_year">
                Year:
                <input type="number" name="inv_year" id="inv_year" min="0" value="<%= locals.inv_year %>" required>
            </label>
            <label for="inv_miles">
                Mileage:
                <input type="number" name="inv_miles" id="inv_miles" min="0" value="<%= locals.inv_miles %>" required>
            </label>
            <label for="inv_color">
                Color:
                <input type="text" name="inv_color" id="inv_color" value="<%= locals.inv_color %>" required>
            </label>
            <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>
            <button type="submit" class="edit-inv-button" disabled>Update Vehicle</button>
        </form>
    </div>
</div>

<script src="../../js/inv-update.js"></script>
